.databox {
  display: flex;
  justify-content: space-around;
  font-weight: 600;
}

.databox__child {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25vw;
  height: 28vh;
  text-align: center;

  border: 0.5rem solid;
  box-sizing: border-box;
  border-radius: 2rem;
}

.databox__confirmed {
  background-color: #feb546;
  border-color: #b0350a;
}

.databox__death {
  background-color: #ff7376;
  border-color: #8b0000;
}

.databox__recovered {
  background-color: #90ee90;
  border-color: #023020;
}

.main_count {
  font-size: 2rem;
}

.secondary_count {
  font-size: 1.25rem;
}
