.header {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__logo {
  height: inherit;
}

.header__select {
  border-width: 0.125rem;
  font-size: 1rem;
  text-align: center;
  width: 12vw;
  height: 5vh;
}

.header__select > option:nth-child(even) {
  background-color: lightgray;
}
