body {
  margin: 0px;
}

.header {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__logo {
  height: inherit;
}

.header__select {
  border-width: 0.125rem;
  font-size: 1rem;
  text-align: center;
  width: 12vw;
  height: 5vh;
}

.header__select > option:nth-child(even) {
  background-color: lightgray;
}

.databox {
  display: flex;
  justify-content: space-around;
  font-weight: 600;
}

.databox__child {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25vw;
  height: 28vh;
  text-align: center;

  border: 0.5rem solid;
  box-sizing: border-box;
  border-radius: 2rem;
}

.databox__confirmed {
  background-color: #feb546;
  border-color: #b0350a;
}

.databox__death {
  background-color: #ff7376;
  border-color: #8b0000;
}

.databox__recovered {
  background-color: #90ee90;
  border-color: #023020;
}

.main_count {
  font-size: 2rem;
}

.secondary_count {
  font-size: 1.25rem;
}
